@font-face {
    font-family: 'NewBaskervilleExpOdC';
    src: url('https://shadow6203.github.io/my-fonts/fonts/NewBaskervilleExpOdC.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}
